
<a [routerLink]="['/employees/add']"><input type="button" value="Add Employee"></a> 
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date Of Joining</th>
            <th>Email</th>
            <th>Mobile No</th>
            <th>Department Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of list">
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.dateOfJoining}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.mobileNo}}</td>
        <td>{{emp.deptId}}</td>
        <td><a [routerLink]="['/employees/edit',emp.id]"><input type="button" value="Edit"></a></td>
        <td><a [routerLink]="['/employee/delete']"><input type="button" value="Delete"></a></td>
    </tbody>
</table>
