<h2>Edit Employee</h2>
<form #deptFrom ="ngForm"(ngSubmit)= "editEmployee()" novalidate>
 
    <label>Name : </label>
    <input type="text"  [(ngModel)] = "emp.name" name = "name" #nameInput = "ngModel" required/>
    <div *ngIf = "nameInput.invalid && nameInput.touched" style = "color: red;">Employee name is required</div>
    <br>
    <label>Date Of Joining : </label>
    <input type="text"  [(ngModel)] = "emp.dateOfJoining" name = "Date Of Joining" #dateInput = "ngModel" required/>
    <div *ngIf = "dateInput.invalid && dateInput.touched" style = "color: red;">Employee date of joining is required</div>
    <br>
    <label>Email : </label>
    <input type="text"  [(ngModel)] = "emp.email" name = "Email" #emailInput = "ngModel" required/>
    <div *ngIf = "emailInput.invalid && emailInput.touched" style = "color: red;">Employee email is required</div>
    <br>
    <label>Mobile Number : </label>
    <input type="text"  [(ngModel)] = "emp.mobileNo" name = "Mobile Number" #mobileInput = "ngModel" required/>
    <div *ngIf = "mobileInput.invalid && mobileInput.touched" style = "color: red;">Employee mobile number is required</div>
    <br>
    <label>Department : </label>
    <input type="text"  [(ngModel)] = "emp.deptId" name = "Department Id" #deptInput = "ngModel" required/>
    <div *ngIf = "deptInput.invalid && deptInput.touched" style = "color: red;">Employee department id is required</div>
    <br>    
    <label>Salary: </label>
    <input type="number" [(ngModel)]="emp.salary" name="emp.salary" #salaryInput="ngModel" required />
    <div *ngIf="salaryInput.invalid && salaryInput.touched" style="color: red;">Employee salary is required</div>
    <br>
    <label>Gender: </label>
    <input type="radio" [(ngModel)]="emp.gender" name="gender" value="Male" #genderInput="ngModel" required /> Male
    <input type="radio" [(ngModel)]="emp.gender" name="gender" value="Female" #genderInput="ngModel" required /> Female
    <input type="radio" [(ngModel)]="emp.gender" name="gender" value="Other" #genderInput="ngModel" required /> Other
    <div *ngIf="genderInput.invalid && genderInput.touched" style="color: red;">Please select a gender</div>
    <br>
    <button type="submit" [disabled]="deptFrom.invalid">Update</button>
</form>