<h1>EMS App</h1>
<nav>
  <ng-container *ngIf="!isLoggedIn">
    <a routerLink="/login" routerLinkActive="active"> Login |</a>
    <a routerLink="/register" routerLinkActive="active"> Register </a>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <a routerLink="/departments" routerLinkActive="active">Departments |</a>
    <a routerLink="/employees" routerLinkActive="active"> Employees </a>
    <button (click)="logout()">Logout</button>
  </ng-container>
</nav>
<router-outlet>
  <!-- <h3>Welcome</h3> -->
</router-outlet>
