<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Username : </label>
        <input type="text" name="username" formControlName="username">
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" style = "color: red;">
           Username is required
        </div>
    </div>
    <div>
        <label>Email : </label>
        <input type="email" name = "email" required formControlName="email">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" style = "color: red;">
            Email is required
        </div>
    </div>
    <div>
        <label>Password : </label>
        <input type="password" name="password" required minlength="4" formControlName="password">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" style = "color: red;">
            Password is required
        </div>
    </div>
    <button type="submit" value="Register">Register</button>
</form>
