<H2>Login</H2>
<form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email : </label>
    <input type="email" name="email" required formControlName="email" />
    <div
      *ngIf="
        LoginForm.controls['email']?.invalid &&
        LoginForm.controls['email']?.touched
      "
      style="color: red"
    >
      <div *ngIf="LoginForm.controls['email'].errors?.['required']">
        Email is required
      </div>
      <div *ngIf="LoginForm.controls['email'].errors?.['email']">
        Enter valid Email
      </div>
    </div>
  </div>
  <div>
    <label>Password : </label>
    <input
      type="password"
      required
      name="password"
      formControlName="password"
    />
    <div
      *ngIf="
        LoginForm.controls['password']?.invalid &&
        LoginForm.controls['password']?.touched
      "
      style="color: red"
    >
      <div *ngIf="LoginForm.controls['password'].errors?.['required']">
        Password is required
      </div>
      <div *ngIf="LoginForm.controls['password'].errors?.['minlength']">
        Enter valid Password
      </div>
    </div>
  </div>
  <button type="submit">Login</button>
</form>
